#good ,#gooda{color: #900;}
#bad ,#bada{color: #009;}
#fff{
  font-weight: 100;
}
body{
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  font-size: 150%;
}
button {
  padding-left: 1em;
  padding-right: 1em;
  height: 2.5em;
}
#ppp{font-size: 100%;}